<fieldset>
  <div>
    <label for="manufacturer">{{$ 'Manufacturer' }}</label>
    <input id="manufacturer" name="manufacturer" type="text" value="{{ manufacturer }}" />

    <label for="model">{{$ 'Model' }}</label>
    <input id="model" name="model" type="text" value="{{ model }}" />

    <label for="name">{{$ 'Name' }}</label>
    <input id="name" name="name" type="text" value="{{ name }}" />

    <label for="label">{{$ 'Label' }}</label>
    <input id="label" name="label" type="text" value="{{ label }}" />

    <label for="inherits">{{$ 'Inherits From' }}</label>
    <input id="inherits" name="inherits" type="text" value="{{ inherits }}" />

    <label for="ddl">{{$ 'Device Definition Label' }}</label>
    <input id="ddl" name="ddl" type="text" value="{{ ddl }}" />

    <label for="interface_module">{{$ 'Interface Module' }}</label>
    <input id="interface_module" name="interface_module" type="text" value="{{ interface_module }}" />
  </div>

  <div>
  {{#each items }}
    <label for="{{ this.attr }}">{{ this.name }}</label>
    <input id="{{ this.attr }}" name="{{ this.attr }}" type="text" value="{{ this.value }}" />
  {{/each}}
  </div>
</fieldset>

<fieldset>
  <label for="description">{{$ 'Description' }}</label>
  <textarea id="description" name="description">{{ description }}</textarea>
</fieldset>
