<fieldset>
  <div class="half left">
    <label for="name">{{$ 'Name' }}</label>
    <input id="name" name="name" type="text" value="{{ display_name }}" />
  </div>

  <div class="half right">
    <label for="site_label">{{$ 'Site Label' }}</label>
    <input id="site_label" name="site_label" type="text" value="{{ site_label }}" />
  </div>

  <label for="sentalis_id">{{$ 'Sentalis ID' }}</label>
  <input id="sentalis_id" name="sentalis_id" type="text" value="{{ sentalis_id }}" />

  <div class="half left">
    <button type="button" class="button import">{{$ 'Import' }}</button>
  </div>

  <div class="half right">
    <label><input id="dm_push" type="checkbox" {{#if dm_push }}checked="checked" {{/if}}/>{{$ 'DM Push Enabled' }}</label>
    <label><input id="ia5_push" type="checkbox" {{#if ia5_push }}checked="checked" {{/if}}/>{{$ 'IA5 Push Enabled' }}</label>
  </div>
</fieldset>

<fieldset>
  <div class="half left">
    <label for="address">{{$ 'Address' }}</label>
    <input id="address" name="address" type="text" value="{{ address }}" />

    <label for="city">{{$ 'City' }}</label>
    <input id="city" name="city" type="text" value="{{ city }}" />

    <label for="state">{{$ 'State' }}</label>
    <input id="state" name="state" type="text" value="{{ state }}" />

    <label for="zipcode">{{$ 'Zip Code' }}</label>
    <input id="zipcode" name="zipcode" type="text" value="{{ zipcode }}" />
  </div>
  <div class="half right">
    <label for="latitude">{{$ 'Latitude' }}</label>
    <input id="latitude" name="latitude" type="text" value="{{ latitude }}" />

    <label for="longitude">{{$ 'Longitude' }}</label>
    <input id="longitude" name="longitude" type="text" value="{{ longitude }}" />

    <label for="elevation">{{$ 'Elevation' }}</label>
    <input id="elevation" name="elevation" type="text" value="{{ elevation }}" />
  </div>
</fieldset>

<fieldset>
  <label for="description">{{$ 'Description' }}</label>
  <textarea id="description" name="description">{{ description }}</textarea>
</fieldset>

<button type="submit" class="button save primary">{{$ 'Save' }}</button>
