<div class="container left">
  <label for="name">{{$ 'Name' }}</label>
  <input id="name" name="name" type="text" tabindex="1" value="{{ display_name }}">
</div>

<div class="container right">
  <label for="site_label">{{$ 'Label' }}</label>
  <input id="site_label" name="site_label" type="text" tabindex="7" value="{{ site_label }}">
</div>

<div class="container left">
  <div>
    <label for="address">{{$ 'Address' }}</label>
    <input id="address" name="address" type="text" tabindex="2" value="{{ address }}">
  </div>
  <div>
    <label for="city">{{$ 'City' }}</label>
    <input id="city" name="city" type="text" tabindex="3" value="{{ city }}">
  </div>
  <div>
    <label for="state">{{$ 'State' }}</label>
    <input id="state" name="state" type="text" tabindex="4" value="{{ state }}">
  </div>
  <div>
    <label for="zipcode">{{$ 'Zip Code' }}</label>
    <input id="zipcode" name="zipcode" type="text" tabindex="5" value="{{ zipcode }}">
  </div>
</div>

<div class="container right">
  <div>
    <label for="latitude">{{$ 'Latitude' }}</label>
    <input id="latitude" name="latitude" type="text" tabindex="8" value="{{ latitude }}">
  </div>
  <div>
    <label for="longitude">{{$ 'Longitude' }}</label>
    <input id="longitude" name="longitude" type="text" tabindex="9" value="{{ longitude }}">
  </div>
  <div>
    <label for="elevation">{{$ 'Elevation' }}</label>
    <input id="elevation" name="elevation" type="text" tabindex="10" value="{{ elevation }}">
  </div>
</div>

<div class="container full">
  <label for="description">{{$ 'Description' }}</label>
  <textarea id="description" name="description" tabindex="6">{{ description }}</textarea>
</div>
