<tr id="project_{{ id }}">
  <td class="name">
    {{ name }}
  </td>
  <td class="status"><span class="statusIndicator {{ status }}">{{ status }}</span></td>
  <td class="DCCapacity">{{ tokW kpis.ac_capacity }}</td>
  <td class="ACCapacity">{{ tokW kpis.dc_capacity }}</td>
</tr>
