<tr id="project_{{ projectId }}">
  <td class="name">
    {{ name }}
  </td>
  <td class="status"><span class="status {{ status }}">{{ status }}</span></td>
  <td class="DCCapacity">{{ kpis.ac_capacity }} kW</td>
  <td class="ACCapacity">{{ kpis.dc_capacity }} kW</td>
</tr>
