<tr id="project_{{ id }}">
  <td class="name">
    {{ name }}
  </td>
  <td class="status"><span class="statusIndicator {{ status }}">{{ status }}</span></td>
  <td class="DCCapacity">{{ unitConversion kpis.ac_capacity 'k' }}</td>
  <td class="ACCapacity">{{ unitConversion kpis.dc_capacity 'k' }}</td>
</tr>
