<td class="name">
  <span class="statusIndicator {{ status }}">{{ status }}</span>
  {{ display_name }}
</td>
<td class="PerformanceRatio">{{ roundNumber kpis.pr 0 }}</td>
<td class="DCCapacity">{{ unitConversion dc_capacity 'k' }}</td>
<td class="ACCapacity">{{ unitConversion ac_capacity 'k' }}</td>
