<tr id="project_{{ id }}">
  <td class="status"><span class="statusIndicator {{ status }}">{{ status }}</span></td>
  <td class="name">
    {{ display_name }}
  </td>
  <td class="DCCapacity">{{ unitConversion ac_capacity 'k' }}</td>
  <td class="ACCapacity">{{ unitConversion dc_capacity 'k' }}</td>
</tr>
