<section class="energyMetrics">
  <h3>Energy Production YTD</h3>
  <div class="generated metric">
    <div class="label">Generated</div>
    <div class="value">1,248.41<span class="unit">MWh</span></div>
  </div>
  <div class="forecast metric">
    <div class="label">Forecast</div>
    <div class="value">1,169.04<span class="unit">MWh</span></div>
  </div>
  <div class="modeled metric">
    <div class="label">Modeled</div>
    <div class="value">1,130.86<span class="unit">MWh</span></div>
  </div>
</section>
<section class="snapshots">
  <h3>Performance Snapshot</h3>
  <div class="snapshot power">
    <div class="label">Power</div>
    <div class="value">{{ roundNumber kpis.power 1 }} <span class="unit">kWh</span></div>
    <div class="indicator">
      <div class="bar"><span style="width:{{ percent kpis.power dc_capacity }}%;"></span></div>
      <div class="legend">
        <span class="min">0</span>
        <span class="max">{{ unitConversion dc_capacity 'k' }} kWh</span>
      </div>
    </div>
  </div>
  <div class="snapshot irradiance">
    <div class="label">Irradiance</div>
    <div class="value">{{ roundNumber kpis.irradiance 0 }} <span class="unit">W/m<sup>2</sup></span></div>
    <div class="indicator">
      <div class="bar"><span style="width:{{ percent kpis.irradiance 1000 }}%;"></span></div>
      <div class="legend">
        <span class="min">0</span>
        <span class="max">1000 W/m<sup>2</sup></span>
      </div>
    </div>
  </div>
  <div class="snapshot dpi">
    <div class="label">DPI</div>
    <div class="value">{{ kpis.dpi }} <span class="unit">%</span></div>
    <div class="indicator">
      <div class="bar"><span style="width:{{ percent kpis.dpi 100 100 }}%;"></span></div>
      <div class="legend">
        <span class="min">0</span>
        <span class="max">100%</span>
      </div>
    </div>
  </div>
</section>
