<!DOCTYPE html>
<html>
<head>
  <title>Intelligent Array</title>

  {{> sharedHeader }}

  <script type="text/javascript" data-main="/public/{{ staticDir }}/config.js" src="/public/{{ staticDir }}/bower_components/requirejs/require.js"></script>

  <script type="text/javascript">
    require(['config'], function(){
      require(['init']);
    });
  </script>

  <script type="text/x-bootstrap" id="currentUserData">
    {{{ user }}}
  </script>

  <script type="text/x-bootstrap" id="bootstrapPortfolios">
    {{{ portfolios }}}
  </script>

  <script type="text/x-bootstrap" id="bootstrapProjects">
    {{{ projects }}}
  </script>
</head>
<body id="ia"></body>
</html>
