{{ debug }}
<input type="hidden" name="operator" value="{{#if comparator }}{{ comparator}}{{else}}<{{/if}}">
<input type="hidden" name="org_label" value="{{ org_label }}">

{{$ 'AC Power'}} &lt; <input type="number" name="value" value="{{ threshold }}">W

Severity:
<select name="severity">
  <option>- {{$ 'Select'}} -</option>
  <option value="Warning" {{#ifCond priority 'Warning'}}selected{{/ifCond}}>{{$ 'Warning' }}</option>
  <option value="Alert" {{#ifCond priority 'Alert'}}selected{{/ifCond}}>{{$ 'Alert' }}</option>
</select>

Team:
<select name="team">
  <option>- {{$ 'Select'}} -</option>
  {{#each teams}}<option value="{{ [0] }}" {{#ifCond ../team_label [0]}}selected{{/ifCond}}>{{ [2] }}</option>{{/each}}
</select>

{{!<button class="button sml remove">{{$ 'Remove'}}</button>}}
