{{ debug }}
<input type="hidden" name="operator" value="{{#if comparator }}{{ comparator}}{{else}}<{{/if}}">
<input type="hidden" name="org_label" value="{{ org_label }}">
<input type="hidden" name="enabled" value="{{#if enabled}}{{ enabled }}{{else}}false{{/if}}">

<label for"value">AC Power &lt;</label>
<input type="number" name="value" value="{{ threshold }}">W

<label for="severity">{{$ 'Severity' }}:</label>
<select name="severity">
  <option>- {{$ 'Select' }} -</option>
  <option value="Warning" {{#ifCond priority 'Warning'}}selected{{/ifCond}}>{{$ 'Warning' }}</option>
  <option value="Alert" {{#ifCond priority 'Alert'}}selected{{/ifCond}}>{{$ 'Alert' }}</option>
</select>

<label for="team">{{$ 'Team' }}</label>:
<select name="team">
  <option>- {{$ 'Select' }} -</option>
  {{#each teams}}<option value="{{ [0] }}" {{#ifCond ../team_label [0]}}selected{{/ifCond}}>{{ [2] }}</option>{{/each}}
</select>

<label for="enabledCheck">{{$ 'Enabled' }}: <input type="checkbox" class="enabledCheck" {{#if enabled}}checked{{/if}}></label>

{{!<button class="button sml remove">Remove</button>}}
