<fieldset>
  <legend>{{$ 'Filter By' }}</legend>

  <input name="property" type="hidden" value="zipcode">
  <input name="operator" type="hidden" value="{{#if operator }}{{ operator }}{{else}}={{/if}}">

  {{$ 'Zip Code' }} {{#if operator }}{{ operator }}{{else}}={{/if}}

  <input name="value" type="text" value="{{ value }}">

  <button class="button sml remove">Remove</button>
</fieldset>
